<div class="card h-100">
    <div class="card-header">
        <span>{{ todo.id ? 'Edit Todo' : 'Create Todo' }}</span>
        <button (click)="close.emit()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form #form="ngForm">
            <div class="form-group">
                <label for="title">Title</label>
                <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="todo.title"
                    required
                    id="title"
                    name="title"
                    placeholder="Name (required)"
                />
            </div>
            <div class="form-group">
                <label for="isDone">Status</label>
                <div class="custom-control custom-switch">
                    <input
                        type="checkbox"
                        class="custom-control-input"
                        id="isDone"
                        [(ngModel)]="todo.isDone"
                        name="isDone"
                    />
                    <label class="custom-control-label" for="isDone">Done</label>
                </div>
            </div>
            <div class="form-group">
                <label class="d-block">Categories</label>
                <div class="form-check form-check-inline">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        id="isPrivate"
                        name="isPrivate"
                        [(ngModel)]="todo.isPrivate"
                    />
                    <label class="form-check-label text-primary" for="isPrivate">Private</label>
                </div>
                <div class="form-check form-check-inline">
                    <input
                        class="form-check-input"
                        type="checkbox"
                        id="isBusiness"
                        name="isBusiness"
                        [(ngModel)]="todo.isBusiness"
                    />
                    <label class="form-check-label text-info" for="isBusiness">Business</label>
                </div>
            </div>
            <button
                class="btn btn-primary mr-2"
                (click)="submit()"
                [disabled]="!form.valid || !form.dirty"
            >
                Save
            </button>
            <button *ngIf="todo.id" class="btn btn-primary btn-danger" (click)="delete.emit(todo)">
                Delete
            </button>
        </form>
    </div>
</div>
