<div class="card h-100">
    <div class="card-header">
        <span>{{ detailTitle }}</span>
        <button (click)="close.emit()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="card-body">
        <form #form="ngForm">
            <fieldset [disabled]="!permissions.canUpdateProducts">
                <div class="form-group">
                    <label for="productName">Name</label>
                    <input
                        class="form-control"
                        type="text"
                        [ngModel]="product.productName"
                        required
                        id="productName"
                        name="productName"
                        placeholder="Name (required)"
                    />
                </div>
                <div class="form-group">
                    <label for="productCode">Code</label>
                    <input
                        class="form-control"
                        type="text"
                        [ngModel]="product.productCode"
                        required
                        id="productCode"
                        name="productCode"
                        placeholder="Code (required)"
                    />
                </div>
                <div class="form-group">
                    <label for="starRating">Star Rating (1-5)</label>
                    <input
                        class="form-control"
                        id="starRating"
                        type="text"
                        placeholder="Rating"
                        [ngModel]="product.starRating"
                        id="starRating"
                        name="starRating"
                    />
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input
                        class="form-control"
                        type="text"
                        [ngModel]="product.price"
                        required
                        id="price"
                        name="price"
                        placeholder="Price (required)"
                    />
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea
                        class="form-control"
                        placeholder="Description"
                        rows="3"
                        [ngModel]="product.description"
                        id="description"
                        name="description"
                    ></textarea>
                </div>
            </fieldset>
            <ng-container *ngIf="permissions.canUpdateProducts">
                <button
                    class="btn btn-primary mr-2"
                    (click)="submit(form)"
                    [disabled]="!form.valid || !form.dirty"
                >
                    Save
                </button>
                <button
                    *ngIf="product.id"
                    class="btn btn-primary btn-danger"
                    (click)="delete.emit(product)"
                >
                    Delete
                </button>
            </ng-container>
        </form>
    </div>
</div>
