@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css');

/* Add application styles & imports to this file! */
html,
body {
    height: 100%;
}

.info-icon {
    font-size: 22px;
    display: block;
    margin-right: 12px;
}
