<div class="d-flex flex-column h-100" *ngIf="userState.permissions$ | async as permissions">
    <nav class="navbar navbar-light bg-light mb-1">
        <a class="navbar-brand">Products</a>
        <div class="d-flex flex-grow-1 mb-2 justify-content-between mt-2">
            <div>
                <button
                    *ngIf="permissions.canUpdateProducts"
                    class="btn btn-primary btn-sm"
                    (click)="productState.newProduct()"
                >
                    New
                </button>
            </div>
            <app-product-filter
                [search]="(productState.search$ | async)!"
                (searchChanged)="productState.updateSearch($event)"
            ></app-product-filter>
        </div>
    </nav>

    <div class="m-3 alert alert-info d-flex align-items-center" role="alert">
        <i class="info-icon bi bi-info-circle-fill"></i>
        You can edit the products if you enable "CanUpdateProducts" in the "John Doe" user settings of this demo.
        <br/>
        Press the ALT key while saving or deleting a product to simulate an API error.
        <br/>
        Saving an existing product uses optimistic update (and undo in case of API error).
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <app-product-list
                    [products]="(productState.products$ | async)!"
                    [selectedProduct]="(productState.selectedProduct$ | async)!"
                    [displayCode]="(productState.displayCode$ | async)!"
                    [showCartBtn]="!permissions.canUpdateProducts"
                    (productSelect)="productState.selectProduct($event)"
                    (displayCodeChange)="productState.toggleProductCode($event)"
                    (addToCart)="productState.addProductToCart($event)"
                ></app-product-list>
            </div>
            <div class="col" *ngIf="productState.selectedProduct$ | async as selectedProduct">
                <app-product-detail
                    [product]="selectedProduct"
                    [detailTitle]="(productState.detailTitle$ | async)!"
                    [permissions]="(userState.permissions$ | async)!"
                    (create)="productState.create($event)"
                    (update)="productState.update($event)"
                    (delete)="productState.delete($event)"
                    (close)="productState.clearCurrentProduct()"
                ></app-product-detail>
            </div>
        </div>
    </div>
</div>
